* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.card:nth-last-of-type(5) {
  display: none;
}
#testo {
  margin: 0;
  padding: 0;
}
#navBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fcf6e0;
  padding-block: 1em;
}

.buttonNav {
  background-color: #f7d982;
  color: #5b210f;
  border-radius: 1.5em;
  padding: 1em;
  border: none;
  cursor: pointer;
}
.buttonMain {
  display: flex;
  align-items: center;
  border-radius: 2.8em;
  padding: 1em;
  font-weight: 500;
  font-size: 1.2em;
}
.buttonMain img {
  height: 30px;
  margin-inline-end: 0.7em;
}
main {
  padding: 20px;
}
h1 {
  color: #5b210f;
  font-size: 3rem;
  margin-top: 0;
}
h2 {
  color: #5b210f;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.titolo {
  color: #5b210f;
  font-size: 1.8rem;
  margin-top: 0;
  font-weight: 800;
}

#cardsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-block-end: 2em;
}

.card {
  width: 48%;
  display: flex;
  flex-direction: column;
  margin-top: 0.8em;
  padding-bottom: 0.8em;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 0 2px grey;
  background-color: #fdf7e4;
  color: #5b210f;
}
.card img {
  display: block;
  width: 100%;
  height: 90%;
}

.descrizioneBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.descrizione {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.descrizione h3 {
  margin-bottom: 0;
  font-weight: bold;
}
.descrizione p {
  margin-top: 0.8em;
  margin-bottom: 1.5em;
}
.price {
  font-size: 1.3em;
}
.addCart {
  color: #5b210f;
  background-color: #f7d982;
  border: none;
  margin-inline: auto;
  width: 200px;
  height: 4em;
  border-radius: 2em;
  cursor: pointer;
}
#article {
  background-color: #fdf7e4;
  padding: 1.5em;
  border-radius: 2em;
  box-shadow: 0 0 3px grey;
}
#article p {
  color: #5b210f;
  line-height: 1.6em;
  margin-block-end: 1.9em;
}
#menu {
  margin: 0 auto;
  padding: 0;
}
/* Versione Mobile < 500px */
@media screen and (max-width: 500px) {
  #menu {
    display: flex;
    justify-content: center;
  }
  #navBar {
    min-width: 290px;
    margin: 2rem 1.5rem 0;
    border-radius: 4rem;
    flex-wrap: wrap;
    align-content: center;
  }
  .buttonNav {
    order: 2;
    width: 7.5rem;
    margin-inline: 1.2em;
    margin-bottom: 0.8rem;
  }
  .buttonMain {
    justify-content: center;
    order: 1;
    width: 18rem;
  }
  h1,
  h2 {
    text-align: center;
  }
  .card {
    width: 100%;
  }
  .addCart {
    width: 200px;
    margin-inline: auto;
  }
}
/* Versione Media >770px */
@media screen and (min-width: 770px) {
  body {
    display: flex;
  }
  #menu {
    min-height: 100vh;
    flex-direction: column;
  }
  #navBar {
    min-height: 100%;
    width: 10em;
    flex-direction: column;
    justify-content: flex-start;
  }
  .buttonNav {
    border-radius: 2.8em;
    padding: 1em;
    font-weight: 500;
    font-size: 0.8em;
    width: 10em;
    height: 6em;
    margin-block: 10px;
    cursor: pointer;
    order: 2;
  }
  .buttonMain {
    order: 0;
    font-size: 1.2em;
    width: 6.5em;
    height: 4em;
  }
  .buttonMain img {
    margin-right: 5px;
  }
  .addCart {
    width: 120px;
    margin-inline: auto;
  }
  #cardsBox {
    justify-content: space-around;
  }
  .card:nth-of-type(4) {
    display: none;
  }
  .card {
    width: 31%;
    border-radius: 4em;
  }
  .descrizione h3 {
    font-weight: 600;
    font-size: 1em;
    padding-inline: 0.8em;
    text-align: center;
    margin-top: 5px;
  }
  .descrizione p {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .price {
    font-size: 1em;
    padding-right: 10px;
  }
}
/* Versione Medium-Large > 1000px */
@media screen and (min-width: 1000px) {
  .card:nth-of-type(4) {
    display: flex;
  }
  .card {
    width: 23%;
    border-radius: 4em;
  }
}
/* Versione Extra-large >1250 */
@media screen and (min-width: 1250px) {
  .card:nth-last-of-type(5) {
    display: flex;
  }
  .card {
    width: 18%;
    border-radius: 4em;
  }
  .addCart {
    width: 140px;
    margin-inline: auto;
    height: 40px;
  }
  .card h3 {
    margin-top: 15px;
    font-size: 1.2em;
  }
  #article {
    display: flex;
  }
  #article #testo {
    order: 2;
  }
  #testo {
    padding-left: 2.5em;
  }
  #article img {
    order: 0;
    width: 50%;
  }
}
